@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --primary:#0e91f4;
}

    body{
        background-color:#180f45;
        margin: 0rem 1rem;
        max-width: 99.99%;
        place-content: center;
    }
   
   header{
    padding: 2rem;
    display: flex;
     color: rgb(16, 246, 66);
    font-size:30px;
    margin:auto;
    justify-content: center;
   
    border-end-end-radius: 2rem
}

.mid-txt{
    
    text-align: center;
    margin:auto;
    color: aliceblue;
    font-size:larger;


    
}



textarea {
    height: 10vh;
    width: 80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid #099268;
    justify-self: auto;
}

.profile-pic{
    justify-content: center;
}

button{
   display:flex;
   padding-bottom: 0.5rem;
  align-self: center;

   
}
#btn-translate{
 align-content: center;
}

div{
   text-align: center;
    font-size: 15px;
    margin:auto;
    color: aliceblue;
    
}



#output {
    height: 15vh;
    width: 80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid #099268;
    background-color: aliceblue;
}

footer{

   color: aliceblue;

    
    font-size:larger;
}  

.p2{
    text-align: center;
}


