@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --primary:#0e91f4;
}

    body{
        background-color:#333136;
        margin: 0rem 1rem;
        max-width: 99.99%;
        place-content: center;
    }
   
   .heading{
    padding: 2rem;
    display: flex;
     color: antiquewhite;
      font-size:50px;
    margin:auto;
    text-align: center;
}

.mid-txt{
    text-align: center;
    
    margin:auto;
    color: aliceblue;
    text-shadow:(--primary)


    
}



textarea {
    height: 10vh;
    width: 80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    outline: none;
    resize: none;
    border-radius: 0.5rem;
    border: 0.5px solid #099268;
}


.btn-translate{
   display: block;
   padding-bottom: 1rem;
   border-radius: 1rem;

}
.pre-result{
   position:fixed;
    font-size: 15px;
    margin:auto;
    color: aliceblue;
    
}



#output {
    margin: auto;
    border: 1px solid rgb(105, 162, 223);
    height: 20vh;
    width: 90%;
    resize: auto;
    padding: 1rem; 
    color: #f8eff1;
    font-size: 1.5rem;
    display:block;
}

.footer{
   

    
    font-size:larger;
    
}
.p2{
    text-align: center;
}

