@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --primary:#0e91f4;
}

    body{
        background-color:#333136;
        margin: 0rem 1rem;
        max-width: 99.99%;
        place-content: center;
    }
   
   .header{
    padding: 2rem;
  
   color:rgb(244, 209, 209);
    border-end-end-radius: 2rem;
    font-size:50px;
    margin:auto;
    text-align: center;
}
.mid-txt{
    text-align: center;
    font-size:x-large;
    margin:auto;
    color: aliceblue;


    
}



textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    align-self:center;
    border-radius: 1 rem;

}
.btn-translate{
   position: inherit;
   padding-bottom: 1rem;

}
.pre-result{
   position:fixed;
    font-size: 15px;
    margin:auto;
    color: aliceblue;
    
}



#output {
    margin: auto;
    border: 1px solid rgb(105, 162, 223);
    height: 20vh;
    width: 90%;
    resize: auto;
    padding: 1rem; 
    color: #f8eff1;
    font-size: 1.5rem;
}

.footer{
   

    
    font-size:larger;
    
}
.p2{
    text-align: center;
}

